{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="ms-login-center-div">
        <div class="card">
            <img class="card-header ms-login-header-img ms-crisp-scaling" src="{{ url_for('static', filename='img/login-header.png') }}">
            <div class="card-block container-fluid">             
                <div class="col-xs-12">
                    {% for message in get_flashed_messages() %}   
                        <label class="ms-login-page-label ms-foreground-accent" id="login-error-feedback">{{ message }}</label>
                    {% endfor %}
                    <form method="post" class="ng-valid ng-touched ng-dirty">
                        <div class="form-group row">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <img  src="{{ url_for('static', filename='img/login-istance-icon.png') }}">
                                </span>
                                <input autocapitalize="off" autocorrect="off" class="form-control ms-login-input-box ng-valid ng-touched ng-dirty" id="istance" name="istance" placeholder="Nome Istanza" type="text" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="input-group">           
                                <span class="input-group-addon" id="basic-addon1">
                                    <img  src="{{ url_for('static', filename='img/login-user-icon.png') }}">
                                </span>           
                                <input autocapitalize="off" autocorrect="off" class="form-control ms-login-input-box ng-valid ng-touched ng-dirty" id="username" name="username" placeholder="Nome utente" type="text" required>
                            </div>   
                        </div>    
                        <div class="form-group row">       
                            <div class="input-group">           
                                <span class="input-group-addon" id="basic-addon2">
                                    <img  src="{{ url_for('static', filename='img/login-pwd-icon.png') }}">
                                </span>           
                                <input class="form-control ms-login-input-box ng-valid ng-dirty ng-touched" id="login-password-input" name="password" placeholder="Password" type="password" required>
                            </div>   
                        </div>    
                        <div class="form-group row">       
                            <button class="ms-btn-primary pull-right ms-background-accent ms-hover-background-dark-accent" id="login-login-button" type="submit">Accedi</button>   
                        </div>    
                    </form>
                    
                    <div class="row no-gutters">
                        <fieldset class="ms-fieldset" style="margin-bottom: 10px; padding-bottom: 10px"></fieldset> 
                    </div>  
                    <div class="row">
                        <ul class="ms-login-page-footer">   
                            <li class="ms-login-page-footer-element">       
                                <a id="login-about-link" target="_blank" href="">Non riesci ad accedere? Clicca qui!</a>
                            </li>     
                        </ul>
                    </div>             
                </div>         
            </div>     
        </div> 
    </div>
{% endblock %}
