<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - Mail Store Utility</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/runtime_branding.css') }}" type="text/css">
    
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    {% endblock %}
</head>


<body>
    {% block topbar %}{% endblock %}
    {% block content %}{% endblock %}
</body>


{% block script %}{% endblock %}


</html>
